html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background:url(../image/bkg-bg.gif) repeat top center;
}
body, td, th, input, textarea, select, a {
	font-size: 12px;
}
h1, .welcome {
   color: #6D6D6D;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 8px;
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}
h2 {
	color: #000000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 5px;
}
p {
	margin-top: 0px;
	margin-bottom: 5px;
}
a, a:visited, a b {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
}
select {
	background: #F8F8F8;
	border: 1px solid #CCCCCC;
	padding: 2px;
}
label {
	cursor: pointer;
}
/* layout */
#container {
    margin: 0px auto 0;
    text-align: left;
    width:1020px;
}
#column-left {
    float: left;
    margin-left: 20px;
    width: 222px;
}
#column-right {
    float: right;
    margin-right: 20px;
    width: 222px;
}
#content {
	margin-bottom:10px;
    min-height: 400px;
	margin-right:20px;
	margin-left:20px;
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left:252px;		
}
#column-right + #content {
	margin-right: 252px;

}
/* header */
#header {
   height: 140px;
   position: relative;
	}
#header #logo {
    left: 19px;
    position: absolute;
    top: 58px;
}
#header .top-promo {
    right:0;
    position: absolute;
    top: 68px;
}
#language {
	position: absolute;
	top: 15px;
	left: 335px;
	width: 75px;
	color: #999;
	line-height: 17px;
}
#language img {
	cursor: pointer;
}
#currency {
    color: #FFFFFF;
    left: 135px;
    line-height: 9px;
    position: absolute;
    top: 9px;
    width: 63px;
    z-index: 7777;
}
#currency a {
	display: inline-block;
	padding: 2px 4px;
	border: 1px solid #CCC;
	color: #fff;
	text-decoration: none;
	margin-right: 2px;
	margin-bottom: 2px;
}
#currency a b {
	color: #C0C0C0;
	text-decoration: none;
}
#header #cart {
    position: absolute;
    right: 10px;
    top: 65px;
    z-index: 9;
}
#header #cart .heading {
   background: url("../image/left_cartbg.gif") no-repeat scroll left center transparent;  
   padding-left: 46px;
   float:right;
   position: relative;
}
#header #cart .headingright {
    background: url("../image/right_cartbg.gif") no-repeat scroll right center transparent;
    height: 43px;
    padding-right: 8px;
}
#header #cart .heading h4 {
    color: #082640;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
	padding-top:6px;
}
#header #cart .heading a {
    color: #000000;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
#header #cart .heading a span {
	padding-right:10px;
	background:  url('../image/arrow_down1.png') 100% 50% no-repeat;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: 5px;
	padding: 8px;
	min-height: 150px;
	min-width: 300px;
	border: 1px solid #DDD;
	border-radius:6px;
	/*border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/
	background: #FFF;
}

#header #cart.active .heading {
	/*margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;*/
}
#header #cart.active .content {
	display: block;
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#header #cart .cart .image {
	width: 1px;
}
#header #cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}
#header #cart .cart .quantity {
	text-align: right;
}
#header #cart .cart td.total {
	text-align: right;
}
#header #cart .cart .remove {
	text-align: right;
}
#header #cart .cart .remove img {
	cursor: pointer;
}
#header #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total td {
	color: #000;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
}
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
.mini-cart-info table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
.mini-cart-info td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
.mini-cart-info .image {
	width: 1px;
}
.mini-cart-info .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
.mini-cart-info .name small {
	color: #666;
}
.mini-cart-info .quantity {
	text-align: right;
}
.mini-cart-info td.total {
	text-align: right;
}
.mini-cart-info .remove {
	text-align: right;
}
.mini-cart-info .remove img {
	cursor: pointer;
}
.mini-cart-total {
	text-align: right;
}
.mini-cart-total table {
	border-collapse: collapse;
	display: inline-block;
	margin-bottom: 5px;
}
.mini-cart-total td {
	color: #000;
	padding: 4px;
}
#header #search {
	background:url(../image/search_bg.png) no-repeat;
    height: 44px;
    padding-top: 0;
    position: absolute;
    right: 275px;
    top: 68px;
    width: 300px;
    z-index: 1;
}

#header #search label {
    color: #000000;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    margin-right: 2px;
    padding-left: 16px;
    padding-top: 13px;
    width: 203px;
}

#header .button-search {
 	background: url("../image/btn_go.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 31px;
    margin-top: 6px;
    position: absolute;
    right: 6px;
    text-align: center;
    width: 72px;
}

#header .button-search a {
    
	
}
#header #search input {
 	background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin-left: 12px;
    margin-top: 9px;
    width: 202px;
}
#header #welcome {
    color: #FFFFFF;
    left: 206px;
    position: absolute;
    text-align: left;
    top: 8px;
    z-index: 5;
}
#header #welcome a {
   color: #D94C42;
   text-decoration:underline;
   font-weight:bold;
}    
#header #welcome a:hover {
	text-decoration:none;
}
#header .links {
    bottom: 0;
    float: right;
    font-size: 10px;
    height: 2px;
    padding-bottom: 5px;
    position: relative;
    top: 5px;
}
#header .links a {
 	background:url(../image/pipe2.gif) no-repeat scroll right center transparent;
    color: #fff;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 5px 4px 1px;
    text-align: right;
    text-decoration: none;
}
#header .links a:hover {
	text-decoration: none;
	color:#D94C42;
}
#header .links a + a {
 margin-left: 0;
    padding: 4px 7px;
}
/* menu */
#menu {
	background: url("../image/nav_bg.png") no-repeat scroll 0 0 transparent;
    height: 49px;
    margin-bottom: 0;
    margin-left: 3px;
    padding: 0;
}
#menu ul {
	list-style: none;
	margin: 0 0 0 7px;
	padding: 0;
}
#menu > ul > li {
	float: left;
	z-index: 20;
	background:url(../image/nav_spacer.gif) no-repeat right center;
}
#menu > ul > li:hover {
/*	background: #000;*/
}
#menu > ul > li > a {
 	color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    padding: 11px 15px 12px;
  /*  position: relative;*/
    text-decoration: none;
    z-index: 6;
}
#menu > ul > li > a:hover {
	
	color:#DA4C3E;
}
#menu > ul > li > div {
	display: none;
	position: absolute;
	z-index: 12345;
	/*padding: 5px;
    border: 1px solid #DF2925;
	 background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #B58D60 #B58D60;
    border-right: 2px solid #B58D60;
    border-style: none solid solid;
    border-width: medium 2px 2px;*/

	background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 2px solid #2D536E;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 12px #CCCCCC;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li ul + ul {
	padding-left: 5px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 5px 5px 5px 15px;
	color: #FFFFFF;
	font-size:12px;
	display: block;
	white-space: nowrap;
	min-width: 150px;
}
#menu > ul > li ul > li > a:hover {
/*	background: #E35A52;*/
	color:#DA4C3E;
}
#menu > ul > li > div > ul > li > a {
	color: #000;
}
.breadcrumb {
	color: #666;
	margin-bottom: 10px;
}
.breadcrumb a {
	color:#10476C;
	font-weight:bold;
}
.breadcrumb a:hover {

}
.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 10px;
	color: #555555;
	margin-left:12px;
	margin-right:12px;
}
.success {
	background: #EAF7D9 url('../image/success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.information {
	background: #E8F6FF url('../image/information.png') 10px center no-repeat;
	border: 1px solid #B8E2FB;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.error {
	display: block;
	color: #FF0000;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 150px;
}
table.form > * > * > td {
	color: #000000;
}
table.form td {
	padding: 4px;
}
input.large-field, select.large-field {
	width: 220px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
table.list td {
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
table.list thead td {
	background-color: #F8F8F8;
	padding: 0px 5px;
}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 0px 5px;
}
table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center;
	padding: 7px;
}
table.list .asc {
	padding-right: 15px;
	background: url('../image/asc.png') right center no-repeat;
}
table.list .desc {
	padding-right: 15px;
	background: url('../image/desc.png') right center no-repeat;
}
table.radio {
	width: 100%;
	border-collapse: collapse;
}
table.radio td {
	padding: 5px;
	vertical-align: middle;
}
table.radio tr td:first-child {
	width: 1px;
}
table.radio tr.highlight:hover td {
	background: #F5F5F3;
	cursor: pointer;
}
table.radio label {
	width: 100%;
	height: 15px;
	display: inline-block;
}

.pagination {
	border-top: 1px solid #EDE8E8;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 0px;
}
.pagination .links {
	margin-left:5px;
	float: left;
}
.pagination .links a {
	background: none repeat scroll 0 0 #7E7E7E;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    padding: 1px 5px;
    text-decoration: none;
}
.pagination .links b {
	background: none repeat scroll 0 0 #0D3B5B;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: normal;
    padding: 1px 5px;
    text-decoration: none;
}
.pagination .results {
	float: right;
	padding-top: 3px;
	margin-right:5px;
}
/*a.button {
	display: inline-block;
	padding-left:6px;
	background: url('../image/button-left.png') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.button span {
	background: url("../image/button-right.png") no-repeat scroll right top transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: verdana;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 11px 8px 7px;
}
a.button:hover {
	background: url('../image/button-left-active.png') top left no-repeat;
}
a.button:hover span {
	color: #FFFFFF;
	background: url('../image/button-right-active.png') top right no-repeat;
}*/
/* button */
a.button, input.button {
	cursor: pointer;
	color: #FFFFFF;
	line-height: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	border-radius:5px;
	background:#0D3B5B;	
}
a.button {
	display: inline-block;
	text-decoration: none;
	padding: 6px 10px 6px 12px;
}
input.button {
	margin: 0;
	border: 0;
	height: 24px;
	padding: 4px 7px 5px 8px;
}
a.button:hover, input.button:hover {
	
}
.buttons {
	background: #FFFFFF;
	border: 1px solid #EEEEEE;
	overflow: auto;
	padding: 6px;
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	text-align: left;
}
.buttons .right {
	float: right;
	text-align: right;
}
.buttons .center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	border-bottom: 1px solid #EBE6E6;
    height: 29px;
    line-height: 16px;
}
.htabs li {

}

.htabs a {
	background: url("../image/left_curbg.gif") no-repeat scroll left top transparent;
    color: #FFFFFF;
    display: none;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin-right: 3px;
    padding: 7px 0 6px;
    text-align: center;
    text-decoration: none;
}
.htabs a span {
	background: url("../image/right_curbg.gif") no-repeat scroll right top transparent;
    padding: 7px 17px 6px;		
}
.htabs a.selected {
	background: url("../image/left_selectbg.gif") no-repeat scroll left top transparent;
    color: #FFFFFF;
    padding: 7px 0 6px;
}
.htabs a.selected span { 
	 background: url("../image/right_selectbg.gif") no-repeat scroll right top transparent;
    padding: 7px 17px 6px;
}
.tab-content {
	border-left: 1px solid #EBE6E6;
	border-right: 1px solid #EBE6E6;
	border-bottom: 1px solid #EBE6E6;
	padding: 10px;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
}

.box .box-heading h1 {
	color: #6D6D6D;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}
.box .box-account h1 {
    color: #A61544;
    font-size: 15px;
    line-height: 34px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
	padding-left:18px;
}

#column-left .box {
	 margin-bottom: 10px;
	 padding-bottom: 5px;
	 background:url(../image/block_bottombg.gif) no-repeat bottom center;
}
#column-left .box .box-heading h1 {
	background:url(../image/blog_top_bg.gif) no-repeat top center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 14px 5px 15px 20px;
    text-transform: uppercase;
}
#column-left .box .box-heading-block1 h1 {
	background:url(../image/blog_top_bg2.gif) no-repeat top center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    padding: 14px 5px 15px 20px;
    text-transform: uppercase;
}
#column-left .box .box-heading-block2 h1 {
	background:url(../image/blog_top_bg3.gif) no-repeat top center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    padding: 14px 5px 15px 20px;
    text-transform: uppercase;
}

#column-left .box .box-content {
	background:url(../image/block_midbg.gif) repeat-y top center;
	padding: 5px 5px 5px 15px;
}
#column-left .box .box-content-best {
	padding: 10px 5px 5px 15px;
	background:#F0F8FD;
}

/* right */
#column-right .box {
	 margin-bottom: 10px;
	 padding-bottom: 5px;
	 background:url(../image/block_bottombg.gif) no-repeat bottom center;
}
#column-right .box .box-heading h1 {
	margin-bottom:0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height:8px;
    line-height:12px;
    padding: 13px 5px 15px 20px;
	background:url(../image/block_topbg_right.gif) no-repeat top center;
}
#column-right .box .box-heading-block1 h1 {
	background:url(../image/blog_top_bg2.gif) no-repeat top center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    padding: 14px 5px 15px 20px;
    text-transform: uppercase;
}
#column-right .box .box-heading-block2 h1 {
	background:url(../image/blog_top_bg3.gif) no-repeat top center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 0;
    padding: 14px 5px 15px 20px;
    text-transform: uppercase;
}
#column-right .box .box-content {
	padding: 5px 5px 5px 15px;
	background:url(../image/block_midbg.gif) repeat-y top center;
}
#column-right .box .box-content-best {
	padding: 10px 5px 5px 15px;
	background:#F0F8FD;
}

/* box product featured */
.box-product {
	width: 100%;
}
.box-product .big {
	background: url("../image/bbig_ch.png") no-repeat scroll center center transparent;
    border: medium none;
    display: inline-block;
    height: 200px;
    margin: 0;
    padding: 5px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 170px;
}
.box-product .big .small {
    border: medium none;
    height: 200px;
    overflow: hidden;
    position: absolute;
    width: 170px;
}
.box-product .big .small:hover {
    background: url("../image/smallh2_ch.png") no-repeat scroll left top transparent;
}
.box-product .image {
	display: block;
	margin-bottom: 0px;
}
.box-product .image img {
	padding: 3px;
}
.box-product .name {
	background: none repeat scroll 0 0 #0D3B5B;
    color: #FFFFFF;
    display: block;
    margin-bottom: 4px;
    padding-bottom: 6px;
    padding-top: 6px;
	border-radius:3px;
	margin:2px 3px 4px;	
}
.box-product .name a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
.box-product .name a:hover {
	text-decoration:none;
	color:#D94C42;
}
.box-product .price {
	display: block;
	font-weight: bold;
	color: #D94C42;
	margin-bottom: 8px;
	font-size:14px;
}
.box-product .price-old {
	font-weight:normal;
	color: #F00;
	text-decoration: line-through;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 6px;
}
.box-product .cart {
	margin-bottom:10px;
}

/* box products */ 
.box-product-test > div {
	display: inline-block;
    margin: 6px 7px 10px 8px;
    text-align: center;
    vertical-align: top;
    width: 165px;
}
.box-product-test .image {
	border: 1px solid #EBE6E6;
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin-bottom: 8px;
    text-align: center;
}
.box-product-test .image img {
	padding: 3px;
}
.box-product-test .name {
	background: none;
    display: block;
    margin-bottom: 6px;
}
.box-product-test .name a {
	color: #051E33;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
.box-product-test .name a:hover {
	text-decoration:none;
	color:#D94C42;
}
.box-product-test .price {
	display: block;
	font-weight: bold;
	color: #D94C42;
	margin-bottom: 8px;
	font-size:14px;
}
.box-product-test .price-old {
	font-weight:normal;
	color: #F00;
	text-decoration: line-through;
}
.box-product-test .price-new {
	font-weight: bold;
}
.box-product-test .rating {
	display: block;
	margin-bottom: 4px;
}
.box-product-test .cart {
	margin-bottom:10px;
}

/* left */
#column-left .box-product-ft {
	width: 100%;
	/*overflow: auto;*/
}
	
#column-left .box-product-ft > div {
	border: medium none;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 168px;
	margin-bottom:10px;
}
#column-left .box-product-ft .image {
	/*text-align:left;
	float:left;*/
	display: block;
	margin-bottom: 0px;
}
#column-left .box-product-ft .image img {
	margin-right:7px;
	padding: 3px;
	border-radius: 5px 5px 5px 5px;
	/*border: 1px solid #E7E7E7;*/
}
#column-left .box-product-ft .name {
	background: none repeat scroll 0 0 #0D3B5B;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    margin: 2px 3px 4px;
    padding-bottom: 6px;
    padding-top: 6px;
}
#column-left .box-product-ft .name a {
	padding-left:0px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	display: block;
	font-size:12px;
}
#column-left .box-product-ft .name a:hover {
	text-decoration:none;
	color:#D94C42;
}
#column-left .box-product-ft .price {
	display: block;
	font-weight: bold;
	color: #000;
	margin-bottom: 4px;
	padding-left:0px;
	font-size:13px;
}
#column-left .box-product-ft .price-old {
	color: #F00;
	text-decoration: line-through;
}
#column-left .box-product-ft .price-new {
	font-weight: bold;
}
#column-left .box-product-ft .rating {
	display: block;
	margin-bottom: 4px;
}
#column-left .box-product-ft .cart {
	margin-bottom:0px;
}



/* left */
#column-left .box-product-test {
	width: 100%;
	overflow: auto;
}
	
#column-left .box-product-test > div {
	border: medium none;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 198px;
	margin-bottom:10px;
	text-align:left;
}
#column-left .box-product-test .image {
	border: medium none;
    border-radius: 0 0 0 0;
    display: block;
    float: left;
    margin-bottom: 0;
    text-align: left;
}
#column-left .box-product-test .image img {
	margin-right:7px;
	padding: 3px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #EBE6E6;
}
#column-left .box-product-test .name {
	background: none;
    border-radius: 0;
    display: block;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 0px;
}
#column-left .box-product-test .name a {
	padding-left:0px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	display: block;
	font-size:11px;
}
#column-left .box-product-test .name a:hover {
	text-decoration:none;
	color:#D94C42;
}
#column-left .box-product-test .price {
	display: block;
	font-weight: bold;
	color: #000;
	margin-bottom: 4px;
	padding-left:0px;
	font-size:13px;
}
#column-left .box-product-test .price-old {
	color: #F00;
	text-decoration: line-through;
}
#column-left .box-product-test .price-new {
	font-weight: bold;
}
#column-left .box-product-test .rating {
	display: block;
	margin-bottom: 4px;
}
#column-left .box-product-test .cart {
	margin-bottom:0px;
}
#column-left a.button {
	display: inline-block;
	padding:0px;
	background: none;
	text-decoration: none;
	cursor: pointer;
}
#column-left a.button span {
	font-family:Arial, Helvetica, sans-serif;
	color: #666;
	line-height: 15px;
	font-size: 11px;
	font-weight: normal;
	display: inline-block;
	padding: 0px;
	background: none;
}
#column-left a.button:hover span {
	text-decoration:underline;
}

/* right */
#column-right .box-product-test {
	width: 100%;
	overflow: auto;
}
	
#column-right .box-product-test > div {
	border: medium none;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 198px;
	margin-bottom:10px;
	text-align:left;
}
#column-right .box-product-test .image {
	border: medium none;
    border-radius: 0 0 0 0;
    display: block;
    float: left;
    margin-bottom: 0;
    text-align: left;
}
#column-right .box-product-test .image img {
	margin-right:7px;
	padding: 3px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #EBE6E6;
}
#column-right .box-product-test .name {
	background: none;
    border-radius: 0;
    display: block;
    margin: 0;
    padding-bottom: 6px;
    padding-top: 0px;
}
#column-right .box-product-test .name a {
	padding-left:0px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	display: block;
	font-size:11px;
}
#column-right .box-product-test .name a:hover {
	text-decoration:none;
	color:#D94C42;
}
#column-right .box-product-test .price {
	display: block;
	font-weight: bold;
	color: #000;
	margin-bottom: 4px;
	padding-left:0px;
	font-size:13px;
}
#column-right .box-product-test .price-old {
	color: #F00;
	text-decoration: line-through;
}
#column-right .box-product-test .price-new {
	font-weight: bold;
}
#column-right .box-product-test .rating {
	display: block;
	margin-bottom: 4px;
}
#column-right .box-product-test .cart {
	margin-bottom:0px;
}
#column-right a.button {
	display: inline-block;
	padding:0px;
	background: none;
	text-decoration: none;
	cursor: pointer;
}
#column-right a.button span {
	font-family:Arial, Helvetica, sans-serif;
	color: #666;
	line-height: 15px;
	font-size: 11px;
	font-weight: normal;
	display: inline-block;
	padding: 0px;
	background: none;
}
#column-right a.button:hover span {
	text-decoration:underline;
}

/* box category */
.box-category {
/*	  margin-top: 4px;*/
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
  padding: 6px 8px 4px 0;
}
.box-category > ul > li + li {
/*	border-top: 1px solid #EEEEEE;*/
}
.box-category > ul > li > a {
	text-decoration: none;
	color: #000;
}
.box-category > ul > li > a:hover {
	color:#E45210;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	font-weight: bold;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.box-category > ul > li ul > li > a {
	background:url("../image/bullet1.gif") no-repeat scroll left center transparent;
	text-decoration: none;
	padding-left:5px;
	display: block;
	color:#444444;
}
.box-category > ul > li ul > li > a:hover {
	color:#E45210;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}
/* content */
#content .content {
	padding: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
    overflow: auto;
	margin-bottom:5px;
/*    padding-top: 10px;*/
}
.category-info .image {
	float: left;
	padding: 5px;
	margin-right: 15px;
	border: 1px solid #E7E7E7;
}
.category-list {
	overflow: auto;
	margin-bottom: 5px;
}
.category-list ul {
	float: left;
	width: 25%;
	list-style:none;
	padding:0;
	margin:0;
}
.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-top: 1px solid #EDE8E8;
	border-bottom: 1px solid #EDE8E8;
	padding: 4px;
	overflow: auto;
}
.product-filter .display {
	margin-right: 15px;
	float: left;
	padding-top: 4px;
	color: #333;
}
.product-filter .display a {
	font-weight: bold;
}
.product-filter .sort {
	float: right;
	color: #333;
}
.product-filter .sort select {
	width: 120px;
}
.product-filter .limit {
	margin-left: 15px;
	float: right;
	color: #333;
}
.product-compare {
	padding: 6px 4px;
	margin-bottom: 4px;
	font-weight: bold;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	padding: 12px 10px;
	border-bottom:1px solid #EEE;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {

}
.product-list .image {
	float: left;
	margin-right: 10px;
	border: 1px solid #EBE6E6;
    border-radius: 5px 5px 5px 5px;
}
.product-list .image img {
	padding: 5px;
}
.product-list .name {
	margin-bottom: 10px;
}
.product-list .name a {
	color: #051E33;
	font-weight: bold;
	font-size:12px;
	text-decoration: none;
}
.product-list .name a:hover {
	text-decoration:none;
	color: #D94C42;
}
.product-list .description {
	line-height: 15px;
	margin-bottom: 15px;
	color: #4D4D4D;
}
.product-list .rating {
	color: #7B7B7B;
	margin-bottom: 5px;
    margin-top: -2px;
}
.product-list .price {
	color: #D94C42;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
	line-height:16px;
    margin-right: 15px;
}
.product-list .price-old {
	color: #F00;	
	font-weight:normal;
	text-decoration: line-through;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
}
.product-list .cart {
	margin-bottom: 20px;
}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 0px;
}
.product-list .wishlist a {
	background: url("../image/bkg_add-to.gif") no-repeat scroll left center transparent;
    color: #333333;
    font-size: 11px;
    padding-left: 12px;
    text-decoration: none;
}
.product-list .wishlist a:hover {
	text-decoration:underline;
}
.product-list .compare a {
	background: url("../image/bkg_add-to.gif") no-repeat scroll left 60% transparent;
    color: #333333;
    font-size: 11px;
    padding-left: 12px;
    text-decoration: none;
}
.product-list .compare a:hover {
	text-decoration:underline;
}
.product-grid {
	width: 100%;
	overflow: auto;
}
.tab-content .product-grid > div { 
	margin:6px 4px 10px 6px;
}
.product-grid > div {
    display: inline-block;
    margin: 6px 7px 10px 8px;
    vertical-align: top;
    width: 165px;
	text-align:center;
}
.product-grid .image {
	text-align:center;
	display: block;
	margin-bottom: 0px;
	border:1px solid #EBE6E6;
	border-radius:5px;
	margin-bottom:8px;
}
.product-grid .image img {
	padding: 3px;
}
.product-grid .name a {
	color: #051E33;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    text-decoration: none;
}
.product-grid .name a:hover {
	text-decoration:none;
	color:#D94C42;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	color: #D94C42;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
}
.product-grid .price-old {
	color: #F00;
	font-weight:normal;
	text-decoration: line-through;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	background: url("../image/bkg_add-to.gif") no-repeat scroll left center transparent;
    color: #333333;
    padding-left: 12px;
    text-decoration: none;
	display:none;
}
.product-grid .wishlist a:hover {
	text-decoration:underline;
}
.product-grid .compare a {
	background: url("../image/bkg_add-to.gif") no-repeat scroll left center transparent;
    color: #333333;
    padding-left: 12px;
    text-decoration: none;
	display:none;
}
.product-grid .compare a:hover {
	text-decoration:underline;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 287px;
}
.product-info .image {
	border: 1px solid #EBE6E6;
	border-radius:5px;
	float: left;
	margin-bottom: 12px;
	padding: 5px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
}
.product-info .image-additional img {
	 border: 1px solid #EBE6E6;
    border-radius: 5px 5px 5px 5px;
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
}
.product-info .description h1 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #EBE6E6;
    color: #0D3B5B;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 8px;
    margin-top: 0;
    padding: 0 0 5px;
    text-transform: none;
}
.product-info .description {
	padding: 2px 5px 10px 5px;
	margin-bottom: 2px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #000;
	font-weight:bold;
}
.product-info .description a {
	color: #4D4D4D;
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
	color: #D94C42;
}
.product-info .price-old {
	color: #F00;
	text-decoration: line-through;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #4D4D4D;
}
.product-info .options {
	border-bottom: 1px solid #EBE6E6;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #000000;
}
.product-info .cart {
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	margin-right:10px;
	float: left;
	vertical-align: middle;
}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	border-top: 1px solid #EBE6E6;
	border-left: 1px solid #EBE6E6;
	border-right: 1px solid #EBE6E6;
	margin-bottom: 10px;
}
.product-info .review > div {
	padding: 8px;
	border-bottom: 1px solid #EBE6E6;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.attribute tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
	width: 20%;
}
.attribute td {
	padding: 7px;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	background: #F7F7F7;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #000000;
	font-weight: bold;
	text-align: right;
}
.compare-info td {
	padding: 7px;
	width: 20%;
	color: #4D4D4D;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	font-weight: bold;
	color: #F00;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-info table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-info td {
	padding: 7px;
}
.wishlist-info thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info thead .image {
	text-align: center;
}
.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {
	text-align: left;
}
.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {
	text-align: right;
}
.wishlist-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.wishlist-info tbody .image {
	text-align: center;
}
.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {
	text-align: left;
}
.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {
	text-align: right;
}
.wishlist-info tbody .price s {
	color: #F00;
}
.wishlist-info tbody .action img {
	cursor: pointer;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.order-list .order-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.order-list .order-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.order-list .order-content div {
	float: left;
	width: 33.3%;
}
.order-list .order-info {
	text-align: right;
}
.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-model {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-quantity {
	float: left;
	width: 31%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened {
	float: left;
	width: 31%;
	margin-right: 15px;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-captcha {
	float: left;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.cart-info td {
	padding: 7px;
}
.cart-info thead td {

	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
	text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
	text-align: right;
}
.cart-info tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.cart-info tbody .image img {
	border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
	text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
	position: relative;
	top: 4px;
	cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}
.cart-module > div {
	display: none;
}
.cart-total {
	border-top: 1px solid #DDDDDD;
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background: #F8F8F8;
	border: 1px solid #DBDEE1;
	padding: 8px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	height:18%;
	margin-bottom: 15px;
}
.checkout-heading a {
	float: right;
	margin-top: 1px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: right;
	width: 48%;
}
.checkout-content .buttons {
	clear: both;
}
.checkout-content .buttons .right {
	width:400px;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	
    clear: both;
    color: #C8C8C8;
    height: 257px;
    padding: 0px 0px 0;
}
#footer h3 {
	color: #000;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 8px;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
 margin-top: 0;
    padding-left: 0;
}
#footer .column ul li {
   background: url("../image/bull.jpg") no-repeat scroll left center transparent;
    list-style: none outside none;
    margin-bottom: 1px;
	  padding-left: 12px;
}
#footer .column a {
	text-decoration: none;
	color: #000;
}
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
   clear: both;
    color: #444444;
    font-weight: bold;
 }

#powered ul {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    top: 19px;
	left:12px;
}

#powered li {
    background:url(../image/pipe1.gif) no-repeat scroll right center transparent;
    color: #3d3d3d;
    display: inline;
    padding: 1px 5px;
}

#powered li a {
	color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: capitalize;
}
#powered li a:hover {
	text-decoration:none;
	color:#D94C42;
}
#powered .last { background:none;}
#powered .login-logout {
    background: none repeat scroll 0 0 transparent;
}
.copywrite {
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    font-weight: normal;
	position:relative;
	top:18px;
	right:12px;
}

.copywrite a {
	text-decoration:underline;
    color: #fff;
}
.copywrite a:hover {
	text-decoration:none;
}

/* footer */
.footer-morelink {
	background: url("../image/footerbg.gif") no-repeat scroll 0 0 transparent;
    height: 100px;
    margin-top: 0px;
   /* padding: 0 138px;*/
}	 
.footer-morelink ul {    
	float: left;
	padding-left: 0;
	width: 180px;
}	 
.footer-morelink li { 
	line-height: 18px; 
	list-style:none;
}	
.footer-morelink a { 
	color:#FFF; 
	background:url("../image/bullet_mini.gif") no-repeat scroll left center transparent;
	font-size:12px; 
	text-decoration:none; 
	padding-left:12px;
}
.footer-morelink a:hover {
	color:#000;
	text-decoration:underline;
}
.footerlink {
	height:38px;
	border-bottom:1px solid #DDD;
}

.footer-static-links {
	 background: url("../image/footer_bg.gif") repeat-x scroll left bottom transparent;
    height: 189px;
    margin-left: 15px;
    padding-top: 10px;
}


.footer ul {
    display: inline;
}

.footer-static-links ul {
    float: left;
    margin-right: 12px;
    margin-top: 0;
    padding-left: 0;
    width: 182px;
	
}

.footer-static-links ul li {
    background: none repeat scroll 0 0 transparent;
    display: block;
    margin-top: 1px;
    padding: 4px 4px 6px 2px;
    text-align: left;
	
	
}
.footer-static-links .footer-links-heading {
    margin-bottom:15px;
}
.footer-static-links .footer-links-heading a {
	color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding-left: 0px;
    position: relative;
    top: 6px;
	background:none;
}
.footer-static-links .footer-links-heading a:hover {
	text-decoration:none;
}
.footer-static-links ul li a {
    background: url("../image/bullet.png") no-repeat scroll left 4px transparent;
    color: #FFFFFF;
    font-size: 12px;
}
.footer-static-links ul li a:hover {
	
}
.footer-static-links ul.follow-us {
    border-right: medium none;
    margin-right: 0;
    width: 210px;
}

.footer-static-links ul.follow-us .paypal-icon {
    padding: 10px 0 0;
}

.footer-callus { 
	text-align: center; 
	margin-top:8px;
}
.footer-li {
	margin-left:0px;
}

/* banner */
.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 8px;
}

.center-containt-home {
	background:url(../image/container.gif) repeat-y top center;
	float:left;
	margin-top:-1px;
	padding-top:10px;
}

.center-containt {
	background:url(../image/container.gif) repeat-y top center;
	overflow:hidden;
	margin-top:-1px;
	padding-top:10px;
}
   
.wraper {background:url(../image/top_bg.png) repeat-x top center;}

.main-banner {
  	margin-bottom: 5px;
    margin-top: 5px;
}

.header-banner {
 	position: absolute;
    right: 2px;
    top: 67px;
}
/* new class */
.main-description{}
.main-description .main-content-top{background: url("../image/top_leftcurve.gif") no-repeat left top ;}
.main-description .main-content-top .top-right{background: url("../image/top_rightcurve.gif") no-repeat right 0px;}
.main-description .main-content-top div div{
	height:7px;
	margin:0 7px;
	overflow:hidden;
	background:url("../image/border.gif") repeat-x scroll left top transparent; 
}
.main-description .main-border-left{background: url("../image/border.gif") repeat-y scroll left top transparent;}
.main-description .main-border-right{background: url("../image/border.gif") repeat-y scroll right top transparent;}
.main-description .main-content-bottom{
	background: url("../image/bottom_leftcurve.gif") no-repeat scroll left top transparent;
	
}
.main-description .main-content-bottom div{background: url("../image/bottom_rightcurve.gif") no-repeat scroll right top transparent;height:7px;}
.main-description .main-content-bottom div div{
    background: url("../image/border.gif") repeat-x scroll left bottom transparent;
	height:7px;
	margin:0 7px;	
}
.main-description .main-content{ padding:2px 8px 8px;}

/* language */
.switcher {
    float: left;
    left: 5px;
    position: absolute;
    top: 7px;
    z-index: 123456;
}
.switcher a {
	text-decoration: none;
	display: block;
}
.switcher .selected {
	/*background: #FFFFFF url('../image/switcher.png') repeat-x;*/
}
.switcher .selected a {
	border: 1px solid #CCC;
	background: url('../image/arrow_down.png') 105px center no-repeat;
	color: #fff;
	padding: 1px 5px 1px 5px;
	width: 110px;
}
.switcher .selected a:hover {
	/*background: #DAECFA url('../image/arrow_down.png') 105px center no-repeat;
	color:#000;*/
}
.switcher .option {	
	position: absolute;
	z-index: 3;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #FCFBFA;
	display: none;
	width: 120px;
}
.switcher .option a {
	color: #000;
	padding: 3px 5px 3px 5px;
}
.switcher .option a:hover {
	background: #ECEBF0;
	color:#000;
}
.switcher img {
	position: relative;
	top: 1px;
}

.column-right{
	width:210px;
	float:left;
}

.main_banner{
	background:url(../image/main_banner.jpg) no-repeat;
    height: 298px;
    width: 749px;
}

.top_bar{	
}

.wrapper_botoom{
	background:url(../image/bottom_bg.gif) repeat-x center bottom;
}
.desc {
	margin-bottom:10px;
}